@include transition;
body.light & {
  @include colorMixin($black);
}
body.dark & {
  @include colorMixin(#fff);
}

@mixin backgroundMixin($background) {
  background: $background;
}

$black: #363636;
$blue: #00458c;
$white: #f2f2f2;
$darkWhite: #fdfcfc;

@media only screen and (max-width: 1800px) {
}
@media only screen and (max-width: 1499px) {
}
@media only screen and (max-width: 1399px) {
}
@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1024px) {
}
