* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a,
button {
  text-decoration: none;
  cursor: pointer; }

li {
  list-style: none; }

body {
  background-color: #fff;
  color: #fff;
  margin: 0px;
  overflow: hidden;
  font-family: "Montserrat", sans-serif; }
  body.overflow {
    overflow: hidden; }
  @media only screen and (max-width: 1024px) {
    body {
      overflow: auto; } }

.dots {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-repeat: repeat; }

.pop-up-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 14, 33, 0.95);
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  transition: all 0.2s ease-in-out; }
  @media only screen and (max-width: 1024px) {
    .pop-up-wrapper {
      z-index: 99;
      background: transparent;
      display: block;
      top: 63px;
      min-height: calc(100vh - 63px); } }
  .pop-up-wrapper.open {
    visibility: visible;
    opacity: 1; }
  .pop-up-wrapper .pop-up {
    padding: 5.4rem 3rem 6rem;
    width: 422px;
    background: linear-gradient(to bottom, #004488, #051e40);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    position: relative; }
    @media only screen and (max-width: 1024px) {
      .pop-up-wrapper .pop-up {
        padding: 4rem 3rem 3rem;
        width: 100%;
        border-radius: 0;
        height: 100%;
        background: linear-gradient(to top, #004581, #052145); } }
    .pop-up-wrapper .pop-up:after {
      width: calc(100% + 5rem);
      height: calc(100% + 5rem);
      position: absolute;
      top: -2.5rem;
      left: -2.5rem;
      display: block;
      content: '';
      border-radius: 1rem;
      background: rgba(10, 35, 66, 0.7);
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
      z-index: -1; }
      @media only screen and (max-width: 1024px) {
        .pop-up-wrapper .pop-up:after {
          display: none; } }
    .pop-up-wrapper .pop-up .close {
      transform: rotate(45deg);
      transform-origin: 50% 50%;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      width: 23px;
      height: 23px; }
      @media only screen and (max-width: 1024px) {
        .pop-up-wrapper .pop-up .close {
          display: none; } }
      .pop-up-wrapper .pop-up .close div {
        position: relative;
        width: 100%;
        height: 100%; }
      .pop-up-wrapper .pop-up .close p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 60px; }
      .pop-up-wrapper .pop-up .close p:first-child {
        width: 23px;
        height: 1px; }
      .pop-up-wrapper .pop-up .close p:last-child {
        height: 23px;
        width: 1px; }
  .pop-up-wrapper form h6 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 4rem;
    color: #f2f2f2;
    margin-bottom: 3rem;
    letter-spacing: 1px;
    text-align: center; }
    @media only screen and (max-width: 1024px) {
      .pop-up-wrapper form h6 {
        font-size: 2rem;
        margin-bottom: 3.6rem; } }
  .pop-up-wrapper form textarea {
    padding-top: 2.2rem;
    height: 15rem;
    resize: none; }
  .pop-up-wrapper form .btn_form {
    width: 100%;
    margin: 3rem 0 0; }
  .pop-up-wrapper form label {
    margin-bottom: 2.5rem; }

.wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  text-align: center; }
  .wrapper:after, .wrapper::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    opacity: 0; }
  .wrapper:after {
    background: rgba(255, 255, 255, 0.4);
    z-index: 1; }
    body.light .wrapper:after {
      visibility: visible;
      opacity: 1; }
  .wrapper:before {
    background: url("../img/BGdark.png") center center/cover no-repeat;
    z-index: -1; }
    body.dark .wrapper:before {
      visibility: visible;
      opacity: 1; }

.metaball-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  body.dark .metaball-canvas.dark {
    visibility: visible;
    opacity: 1; }
  body.light .metaball-canvas.light {
    visibility: visible;
    opacity: 1; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1499px) {
    html {
      font-size: 54%; } }
  @media only screen and (max-width: 1399px) {
    html {
      font-size: 52%; } }
  @media only screen and (max-width: 1199px) {
    html {
      font-size: 62.5%; } }

.container {
  width: 1717px;
  margin: 0 auto;
  padding-left: 30px; }
  @media only screen and (max-width: 1800px) {
    .container {
      width: 90%;
      margin: 0 auto;
      padding: 0; } }
  @media only screen and (max-width: 1024px) {
    .container {
      width: 100%; } }
  @media only screen and (max-width: 768px) {
    .container {
      width: 100%; } }

.page-overlay {
  height: 100vh;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 1024px) {
    .page-overlay {
      height: auto; } }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  background: transparent;
  border-radius: 0.5rem;
  border: 1px solid;
  margin: 1.3rem 0;
  font-size: 1.1rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.05rem; }
  @media only screen and (max-width: 1024px) {
    .btn {
      border-radius: 5px; } }
  body.light .btn {
    border-color: #00458c;
    color: #00458c; }
    body.light .btn:hover {
      background: #00458c;
      color: #fbfbfb; }
  body.dark .btn {
    border-color: #fbfbfb;
    color: #fbfbfb; }
    body.dark .btn:hover {
      background: #fbfbfb;
      color: #00458c; }
  @media only screen and (max-width: 1024px) {
    .btn {
      font-size: 1.4rem; } }

.btn_form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.5rem;
  margin: 1.3rem 0;
  text-align: center;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.05rem;
  width: 25rem;
  height: 6rem;
  border: none;
  background: linear-gradient(to bottom, #ee5147, #db3f35);
  font-size: 1.6rem; }
  @media only screen and (max-width: 1199px) {
    .btn_form {
      height: 5.5rem; } }
  body.light .btn_form {
    color: #fff; }
    body.light .btn_form:hover {
      background: linear-gradient(to bottom, #db3f35, #db3f35);
      color: #fff; }
  body.dark .btn_form {
    color: #fff; }
    body.dark .btn_form:hover {
      color: #fff;
      background: linear-gradient(to bottom, #db3f35, #db3f35); }

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  z-index: 99; }
  @media only screen and (max-width: 1399px) {
    header {
      padding: 2rem 0; } }
  header.container {
    margin: 0;
    padding: 3rem 0;
    width: 1687px; }
    @media only screen and (max-width: 1800px) {
      header.container {
        width: 90%;
        margin: 0 auto; } }
    @media only screen and (max-width: 1024px) {
      header.container {
        height: 64px;
        width: 100vw;
        max-lines: -3rem;
        padding: 0 3rem;
        z-index: 99;
        transition: all 0.2s ease-in-out; }
        body.light header.container {
          background: #DADADA; }
        body.dark header.container {
          background: #021839; } }
  header .header-content {
    display: flex;
    align-items: center;
    margin-top: -6px; }
  header nav {
    display: flex;
    align-items: center;
    height: 100%; }
    @media only screen and (max-width: 1024px) {
      header nav {
        position: absolute;
        top: 63px;
        width: 100vw;
        left: 0;
        right: 0;
        flex-direction: column;
        height: calc(100vh - 63px);
        padding-top: 64px;
        background: linear-gradient(to top, #004581, #052145);
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-in-out; }
        header nav.open {
          visibility: visible;
          opacity: 1; } }
    header nav ul {
      display: flex;
      justify-content: flex-end; }
      @media only screen and (max-width: 1024px) {
        header nav ul {
          flex-direction: column;
          padding: 0 30px;
          width: 100%; } }
    @media only screen and (max-width: 1024px) {
      header nav li {
        position: relative; }
        header nav li:after {
          position: absolute;
          bottom: 0;
          width: calc(100vw - 6rem);
          left: 0;
          content: '';
          background: rgba(215, 216, 218, 0.2);
          height: 1px; } }
    header nav li a {
      padding: 0 4.8rem 0 0;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7rem;
      letter-spacing: 0.04rem;
      transition: all 0.2s ease-in-out; }
      @media only screen and (max-width: 1024px) {
        header nav li a {
          font-size: 1.8rem;
          padding: 25px 0;
          display: block;
          text-align: center;
          letter-spacing: 0.1rem; } }
      body.light header nav li a {
        color: #363636; }
        @media only screen and (max-width: 1024px) {
          body.light header nav li a {
            color: #fbfbfb; } }
      body.dark header nav li a {
        color: #fbfbfb; }
    @media only screen and (max-width: 1024px) {
      header nav .btn {
        display: none; } }

.logo {
  display: flex;
  align-items: center;
  z-index: 99; }
  .logo .img {
    width: 7.2rem;
    height: 7.2rem;
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 99; }
    @media only screen and (max-width: 1024px) {
      .logo .img {
        width: 3.8rem;
        height: 3.8rem; } }
    .logo .img:after, .logo .img:before {
      position: absolute;
      display: block;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0; }
    .logo .img:after {
      background: url("../img/logoLight.png") center center/cover no-repeat; }
      body.light .logo .img:after {
        visibility: visible;
        opacity: 1; }
    .logo .img:before {
      background: url("../img/logoDark.svg") center center/cover no-repeat; }
      body.dark .logo .img:before {
        visibility: visible;
        opacity: 1; }
  .logo p {
    font-size: 36px;
    font-weight: 900;
    margin-left: 3.5rem; }
    @media only screen and (max-width: 1024px) {
      .logo p {
        font-size: 2rem;
        margin-left: 1.6rem; } }
    body.light .logo p {
      color: #004883; }
    body.dark .logo p {
      color: #40e0c7; }

.color-change {
  margin: 0 1.2rem 0 3rem;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 1024px) {
    .color-change {
      margin-top: 5.5rem; } }
  .color-change .trigger {
    height: 20px;
    width: 36px;
    border-radius: 10px;
    border: 1px solid;
    position: relative;
    margin: 0 1rem;
    padding: 0.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out; }
    body.light .color-change .trigger {
      border-color: #4b74a5; }
      @media only screen and (max-width: 1024px) {
        body.light .color-change .trigger {
          border-color: #ccd2d9; } }
    body.dark .color-change .trigger {
      border-color: #ccd2d9; }
    .color-change .trigger:after {
      position: absolute;
      width: 14px;
      height: 14px;
      background: #40e0c7;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      transition: all 0.2s ease-in-out; }
      body.light .color-change .trigger:after {
        left: calc(100% - 1.6rem); }
      body.dark .color-change .trigger:after {
        left: 0.2rem; }
  .color-change svg path {
    transition: all 0.2s ease-in-out; }
    body.light .color-change svg path {
      fill: #4b74a5; }
      @media only screen and (max-width: 1024px) {
        body.light .color-change svg path {
          fill: #ccd2d9; } }
    body.dark .color-change svg path {
      fill: #ccd2d9; }

.menu-burger {
  display: none; }
  @media only screen and (max-width: 1024px) {
    .menu-burger {
      width: 26px;
      height: 20.2px;
      display: block;
      position: relative;
      margin-left: 2rem;
      z-index: 99; } }
  .menu-burger p {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
    background: #fff;
    border-radius: 60px;
    width: 26px;
    height: 1px;
    transition: all 0.2s ease-in-out; }
    body.light .menu-burger p {
      background: #4b74a5; }
    body.dark .menu-burger p {
      background: #fff; }
  .menu-burger p:first-child {
    top: 0; }
  .menu-burger p:nth-child(2) {
    top: 9.6px; }
  .menu-burger p:last-child {
    top: 19.2px; }
  .menu-burger.active p:last-child {
    top: 9.6px;
    transform: rotate(-45deg); }
  .menu-burger.active p:first-child {
    top: 9.6px;
    transform: rotate(45deg); }
  .menu-burger.active p:nth-child(2) {
    opacity: 0; }

.btn_question {
  display: none; }
  @media only screen and (max-width: 1024px) {
    .btn_question {
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      border: 1px solid #fff;
      text-align: center;
      line-height: 26px;
      font-size: 15px;
      margin-right: 5px;
      position: relative;
      z-index: 99;
      transition: all 0.2s ease-in-out; }
      body.light .btn_question {
        color: #4b74a5;
        border-color: #4b74a5; }
      body.dark .btn_question {
        color: #fff;
        border-color: #fff; } }

.lang {
  position: relative;
  width: 6rem;
  display: flex;
  justify-content: flex-end;
  z-index: 999; }
  .lang p {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .lang ul {
    position: absolute;
    right: 0;
    bottom: -1rem;
    transform: translateY(100%);
    display: block;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out; }
    body.light .lang ul {
      background: linear-gradient(-135deg, #004f93, #00498b, #00437d, #003d72); }
    body.dark .lang ul {
      background: #fdfcfc; }
    .lang ul li a {
      margin: 0;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 1.4rem;
      transition: all 0.2s ease-in-out; }
      body.light .lang ul li a {
        color: #fdfcfc; }
      body.dark .lang ul li a {
        color: #00458c; }
  .lang.active ul {
    visibility: visible;
    opacity: 1; }
  .lang.active svg {
    transform: rotate(-180deg); }
  .lang span {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.04rem;
    transition: all 0.2s ease-in-out; }
    body.light .lang span {
      color: #4b74a5; }
    body.dark .lang span {
      color: #fbfbfb; }
  .lang svg {
    width: 9px;
    margin-left: 8px;
    transition: all 0.2s ease-in-out; }
  body.light .lang svg path {
    fill: #4b74a5; }
  body.dark .lang svg path {
    fill: #fbfbfb; }

.fixed-btn {
  display: none; }
  @media only screen and (max-width: 1024px) {
    .fixed-btn {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 98;
      display: flex;
      width: 100vw;
      background: linear-gradient(to right, #003d72, #004c8d);
      padding: 3.4rem 3rem;
      transition: all 0.2s ease-in-out; }
      .fixed-btn.open {
        box-shadow: 0 -2rem 5rem rgba(0, 0, 0, 0.2);
        z-index: 99; }
      .fixed-btn .btn_form {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        font-size: 1.4rem; } }

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 7.5rem;
  height: 100vh; }
  @media only screen and (max-width: 1499px) {
    .content {
      padding-top: 5.5rem; } }
  @media only screen and (max-width: 1199px) {
    .content {
      padding-top: 7rem;
      height: 85%; } }
  @media only screen and (max-width: 1024px) {
    .content {
      height: auto;
      padding: 6.4rem 30px 0; } }
  .content .slider-main {
    height: 78vh;
    width: calc(68.5% - 5rem);
    position: relative; }
    @media only screen and (max-width: 1800px) {
      .content .slider-main {
        width: calc(68.5% - 3rem); } }
    @media only screen and (max-width: 1399px) {
      .content .slider-main {
        width: 64%; } }
    @media only screen and (max-width: 1024px) {
      .content .slider-main {
        width: 100%;
        height: auto; } }
  .content .sidebar {
    width: 31.5%;
    margin-right: -2.5rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 1199px) {
      .content .sidebar {
        margin: 0; } }
    @media only screen and (max-width: 1024px) {
      .content .sidebar {
        display: none; } }

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem; }
  @media only screen and (max-width: 1024px) {
    .swiper-container {
      overflow: auto; } }

.swiper-wrapper {
  height: 100%; }
  @media only screen and (max-width: 1024px) {
    .swiper-wrapper {
      height: auto;
      transform: none;
      display: block; } }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%; }

.swiper-pagination {
  height: 9px;
  width: calc(100% + 2.5rem);
  margin-left: -1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0.5rem; }
  @media only screen and (max-width: 1024px) {
    .swiper-pagination {
      display: none; } }
  .swiper-pagination > div,
  .swiper-pagination.drob > div {
    width: calc(33.3333% / 10);
    position: relative; }
    .swiper-pagination > div:after,
    .swiper-pagination.drob > div:after {
      position: absolute;
      display: block;
      content: '';
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      width: calc(100% - 1.6rem);
      height: 1px;
      background: #ccd2d9;
      transition: all 0.2s ease-in-out; }
    .swiper-pagination > div div,
    .swiper-pagination.drob > div div {
      width: 1.6rem; }
      .swiper-pagination > div div > span,
      .swiper-pagination.drob > div div > span {
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #ccd2d9;
        opacity: 1;
        cursor: pointer;
        transition: all 0.2s ease-in-out; }
    .swiper-pagination > div div.named,
    .swiper-pagination.drob > div div.named {
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in-out; }
    .swiper-pagination > div:nth-child(1), .swiper-pagination > div:nth-child(2),
    .swiper-pagination.drob > div:nth-child(1),
    .swiper-pagination.drob > div:nth-child(2) {
      width: 33.3333%; }
      .swiper-pagination > div:nth-child(1):after, .swiper-pagination > div:nth-child(2):after,
      .swiper-pagination.drob > div:nth-child(1):after,
      .swiper-pagination.drob > div:nth-child(2):after {
        position: absolute;
        display: block;
        content: '';
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: calc(100% - 2.5rem);
        height: 1px;
        background: #ccd2d9;
        transition: all 0.2s ease-in-out; }
      .swiper-pagination > div:nth-child(1) div, .swiper-pagination > div:nth-child(2) div,
      .swiper-pagination.drob > div:nth-child(1) div,
      .swiper-pagination.drob > div:nth-child(2) div {
        width: 2.5rem; }
        .swiper-pagination > div:nth-child(1) div > span, .swiper-pagination > div:nth-child(2) div > span,
        .swiper-pagination.drob > div:nth-child(1) div > span,
        .swiper-pagination.drob > div:nth-child(2) div > span {
          width: 5px;
          height: 5px;
          background: #ccd2d9;
          transition: all 0.5s ease-in-out; }
      .swiper-pagination > div:nth-child(1).swiper-pagination-bullet-active div > span, .swiper-pagination > div:nth-child(2).swiper-pagination-bullet-active div > span,
      .swiper-pagination.drob > div:nth-child(1).swiper-pagination-bullet-active div > span,
      .swiper-pagination.drob > div:nth-child(2).swiper-pagination-bullet-active div > span {
        width: 9px;
        height: 9px;
        background: #40e0c7; }
    .swiper-pagination > div:nth-child(1) div.named, .swiper-pagination > div:nth-child(2) div.named, .swiper-pagination > div:nth-child(3) div.named, .swiper-pagination > div:nth-child(12) div.named,
    .swiper-pagination.drob > div:nth-child(1) div.named,
    .swiper-pagination.drob > div:nth-child(2) div.named,
    .swiper-pagination.drob > div:nth-child(3) div.named,
    .swiper-pagination.drob > div:nth-child(12) div.named {
      display: flex;
      justify-content: flex-start;
      position: absolute;
      width: 100%;
      height: auto;
      top: -4.7rem;
      left: 0.1rem;
      white-space: nowrap; }
      .swiper-pagination > div:nth-child(1) div.named p, .swiper-pagination > div:nth-child(2) div.named p, .swiper-pagination > div:nth-child(3) div.named p, .swiper-pagination > div:nth-child(12) div.named p,
      .swiper-pagination.drob > div:nth-child(1) div.named p,
      .swiper-pagination.drob > div:nth-child(2) div.named p,
      .swiper-pagination.drob > div:nth-child(3) div.named p,
      .swiper-pagination.drob > div:nth-child(12) div.named p {
        margin-left: 5px;
        position: relative; }
        .swiper-pagination > div:nth-child(1) div.named p:before, .swiper-pagination > div:nth-child(2) div.named p:before, .swiper-pagination > div:nth-child(3) div.named p:before, .swiper-pagination > div:nth-child(12) div.named p:before,
        .swiper-pagination.drob > div:nth-child(1) div.named p:before,
        .swiper-pagination.drob > div:nth-child(2) div.named p:before,
        .swiper-pagination.drob > div:nth-child(3) div.named p:before,
        .swiper-pagination.drob > div:nth-child(12) div.named p:before {
          display: block;
          content: '';
          position: absolute;
          bottom: -8px;
          left: 6px;
          height: 11px;
          width: 1px;
          background: #ccd2d9; }
      .swiper-pagination > div:nth-child(1) div.named span:nth-child(1), .swiper-pagination > div:nth-child(2) div.named span:nth-child(1), .swiper-pagination > div:nth-child(3) div.named span:nth-child(1), .swiper-pagination > div:nth-child(12) div.named span:nth-child(1),
      .swiper-pagination.drob > div:nth-child(1) div.named span:nth-child(1),
      .swiper-pagination.drob > div:nth-child(2) div.named span:nth-child(1),
      .swiper-pagination.drob > div:nth-child(3) div.named span:nth-child(1),
      .swiper-pagination.drob > div:nth-child(12) div.named span:nth-child(1) {
        display: inline-block;
        font-weight: 700;
        font-size: 10px;
        line-height: 3rem;
        margin-right: 7px;
        transition: all 0.05s ease-in-out; }
        body.light .swiper-pagination > div:nth-child(1) div.named span:nth-child(1), body.light .swiper-pagination > div:nth-child(2) div.named span:nth-child(1), body.light .swiper-pagination > div:nth-child(3) div.named span:nth-child(1), body.light .swiper-pagination > div:nth-child(12) div.named span:nth-child(1), body.light
        .swiper-pagination.drob > div:nth-child(1) div.named span:nth-child(1), body.light
        .swiper-pagination.drob > div:nth-child(2) div.named span:nth-child(1), body.light
        .swiper-pagination.drob > div:nth-child(3) div.named span:nth-child(1), body.light
        .swiper-pagination.drob > div:nth-child(12) div.named span:nth-child(1) {
          color: #004883; }
        body.dark .swiper-pagination > div:nth-child(1) div.named span:nth-child(1), body.dark .swiper-pagination > div:nth-child(2) div.named span:nth-child(1), body.dark .swiper-pagination > div:nth-child(3) div.named span:nth-child(1), body.dark .swiper-pagination > div:nth-child(12) div.named span:nth-child(1), body.dark
        .swiper-pagination.drob > div:nth-child(1) div.named span:nth-child(1), body.dark
        .swiper-pagination.drob > div:nth-child(2) div.named span:nth-child(1), body.dark
        .swiper-pagination.drob > div:nth-child(3) div.named span:nth-child(1), body.dark
        .swiper-pagination.drob > div:nth-child(12) div.named span:nth-child(1) {
          color: #7ec3d7; }
      .swiper-pagination > div:nth-child(1) div.named span:nth-child(2), .swiper-pagination > div:nth-child(2) div.named span:nth-child(2), .swiper-pagination > div:nth-child(3) div.named span:nth-child(2), .swiper-pagination > div:nth-child(12) div.named span:nth-child(2),
      .swiper-pagination.drob > div:nth-child(1) div.named span:nth-child(2),
      .swiper-pagination.drob > div:nth-child(2) div.named span:nth-child(2),
      .swiper-pagination.drob > div:nth-child(3) div.named span:nth-child(2),
      .swiper-pagination.drob > div:nth-child(12) div.named span:nth-child(2) {
        position: relative;
        font-size: 10px;
        font-weight: 500;
        line-height: 3rem;
        transition: all 0.2s ease-in-out; }
        body.light .swiper-pagination > div:nth-child(1) div.named span:nth-child(2), body.light .swiper-pagination > div:nth-child(2) div.named span:nth-child(2), body.light .swiper-pagination > div:nth-child(3) div.named span:nth-child(2), body.light .swiper-pagination > div:nth-child(12) div.named span:nth-child(2), body.light
        .swiper-pagination.drob > div:nth-child(1) div.named span:nth-child(2), body.light
        .swiper-pagination.drob > div:nth-child(2) div.named span:nth-child(2), body.light
        .swiper-pagination.drob > div:nth-child(3) div.named span:nth-child(2), body.light
        .swiper-pagination.drob > div:nth-child(12) div.named span:nth-child(2) {
          color: #8a9cb1; }
        body.dark .swiper-pagination > div:nth-child(1) div.named span:nth-child(2), body.dark .swiper-pagination > div:nth-child(2) div.named span:nth-child(2), body.dark .swiper-pagination > div:nth-child(3) div.named span:nth-child(2), body.dark .swiper-pagination > div:nth-child(12) div.named span:nth-child(2), body.dark
        .swiper-pagination.drob > div:nth-child(1) div.named span:nth-child(2), body.dark
        .swiper-pagination.drob > div:nth-child(2) div.named span:nth-child(2), body.dark
        .swiper-pagination.drob > div:nth-child(3) div.named span:nth-child(2), body.dark
        .swiper-pagination.drob > div:nth-child(12) div.named span:nth-child(2) {
          color: #d2e0f0; }
    .swiper-pagination > div:nth-child(1) div.named, .swiper-pagination > div:nth-child(3).prev:not(.last) div.named, .swiper-pagination > div.active div.named,
    .swiper-pagination.drob > div:nth-child(1) div.named,
    .swiper-pagination.drob > div:nth-child(3).prev:not(.last) div.named,
    .swiper-pagination.drob > div.active div.named {
      opacity: 1;
      visibility: visible; }
    .swiper-pagination > div:nth-child(1).prev div.named,
    .swiper-pagination.drob > div:nth-child(1).prev div.named {
      opacity: 0;
      visibility: hidden; }
    .swiper-pagination > div:nth-child(3),
    .swiper-pagination.drob > div:nth-child(3) {
      width: calc(33.3333% / 8); }
      .swiper-pagination > div:nth-child(3):after,
      .swiper-pagination.drob > div:nth-child(3):after {
        width: calc(100% - 2.5rem); }
      .swiper-pagination > div:nth-child(3) div,
      .swiper-pagination.drob > div:nth-child(3) div {
        width: 2.5rem; }
        .swiper-pagination > div:nth-child(3) div > span,
        .swiper-pagination.drob > div:nth-child(3) div > span {
          width: 5px;
          height: 5px;
          background: #ccd2d9;
          transition: all 0.5s ease-in-out; }
      .swiper-pagination > div:nth-child(3).prev.swiper-pagination-bullet div > span,
      .swiper-pagination.drob > div:nth-child(3).prev.swiper-pagination-bullet div > span {
        width: 9px;
        height: 9px; }
      .swiper-pagination > div:nth-child(3).prev.last.swiper-pagination-bullet div > span,
      .swiper-pagination.drob > div:nth-child(3).prev.last.swiper-pagination-bullet div > span {
        width: 5px;
        height: 5px; }
      .swiper-pagination > div:nth-child(3).swiper-pagination-bullet-active div > span,
      .swiper-pagination.drob > div:nth-child(3).swiper-pagination-bullet-active div > span {
        width: 9px;
        height: 9px;
        background: #40e0c7; }
    .swiper-pagination > div:nth-child(12),
    .swiper-pagination.drob > div:nth-child(12) {
      width: 2.5rem; }
      .swiper-pagination > div:nth-child(12):after,
      .swiper-pagination.drob > div:nth-child(12):after {
        display: none; }
      .swiper-pagination > div:nth-child(12) div,
      .swiper-pagination.drob > div:nth-child(12) div {
        width: 2.5rem; }
        .swiper-pagination > div:nth-child(12) div > span,
        .swiper-pagination.drob > div:nth-child(12) div > span {
          width: 5px;
          height: 5px;
          background: #ccd2d9;
          transition: all 0.2s ease-in-out; }
      .swiper-pagination > div:nth-child(12).swiper-pagination-bullet-active div > span,
      .swiper-pagination.drob > div:nth-child(12).swiper-pagination-bullet-active div > span {
        width: 9px;
        height: 9px;
        background: #40e0c7; }
    body.light .swiper-pagination > div.prev:after, body.light
    .swiper-pagination.drob > div.prev:after {
      background: #58a7bd; }
    body.dark .swiper-pagination > div.prev:after, body.dark
    .swiper-pagination.drob > div.prev:after {
      background: #40e0c7; }
    .swiper-pagination > div.prev div > span,
    .swiper-pagination.drob > div.prev div > span {
      width: 5px;
      height: 5px;
      background: #40e0c7; }
    .swiper-pagination > div div,
    .swiper-pagination.drob > div div {
      display: flex;
      justify-content: center; }
    .swiper-pagination > div.swiper-pagination-bullet-active div > span,
    .swiper-pagination.drob > div.swiper-pagination-bullet-active div > span {
      background: #40e0c7; }
  .swiper-pagination > div {
    width: 0; }
    .swiper-pagination > div div > span {
      display: none;
      opacity: 0; }
    .swiper-pagination > div:nth-child(1), .swiper-pagination > div:nth-child(2), .swiper-pagination > div:nth-child(3) {
      width: 33.3333%; }
      .swiper-pagination > div:nth-child(1) div > span, .swiper-pagination > div:nth-child(2) div > span, .swiper-pagination > div:nth-child(3) div > span {
        display: block;
        width: 5px;
        height: 5px;
        opacity: 1; }
    .swiper-pagination > div:nth-child(3) {
      width: calc(33.3333% - 2.5rem); }
    .swiper-pagination > div:nth-child(12) div > span {
      display: block;
      width: 5px;
      height: 5px;
      opacity: 1; }
  .swiper-pagination > span {
    display: block; }

.block-overlay {
  padding: 2.5rem;
  border-radius: 1rem;
  margin-bottom: 2.3rem;
  transition: all 0.2s ease-in-out; }
  @media only screen and (max-width: 1399px) {
    .block-overlay {
      padding: 2rem; } }
  @media only screen and (max-width: 1199px) {
    .block-overlay {
      padding: 0; } }
  body.dark .block-overlay {
    background: rgba(18, 67, 113, 0.2);
    box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.2); }
  body.light .block-overlay {
    border: 1px solid rgba(60, 100, 149, 0.1);
    background: rgba(88, 167, 189, 0.1); }
  @media only screen and (max-width: 1024px) {
    .block-overlay {
      margin-bottom: 3.4rem; }
      body.light .block-overlay {
        background: transparent;
        border: none; }
      body.dark .block-overlay {
        background: transparent;
        box-shadow: none; } }
  .block-overlay .block-content {
    padding: 6.8rem 4.3rem 5.3rem;
    border-radius: 1rem; }
    body.light .block-overlay .block-content {
      background: url(../img/backForm.png) center center/cover no-repeat; }
    body.dark .block-overlay .block-content {
      background: linear-gradient(-135deg, #004f93, #00498b, #00437d, #003d72); }
    @media only screen and (max-width: 1800px) {
      .block-overlay .block-content {
        padding: 4.5rem 2.5rem 3rem; } }
    @media only screen and (max-width: 1399px) {
      .block-overlay .block-content {
        padding: 3rem 2rem; } }
    @media only screen and (max-width: 1199px) {
      .block-overlay .block-content {
        padding: 2rem 1.5rem; } }
    @media only screen and (max-width: 1024px) {
      .block-overlay .block-content {
        padding: 3rem 0 0;
        background: transparent; }
        body.light .block-overlay .block-content {
          background: transparent; }
        body.dark .block-overlay .block-content {
          background: transparent; } }
    .block-overlay .block-content p {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 4rem;
      text-align: center;
      color: #f2f2f2; }
      .block-overlay .block-content p:nth-child(2) {
        margin-bottom: 2.6rem; }
      .block-overlay .block-content p span {
        font-weight: 600;
        transition: all 0.2s ease-in-out; }
        body.light .block-overlay .block-content p span {
          color: #fdfcfc; }
        body.dark .block-overlay .block-content p span {
          color: #40e0c7; }
      @media only screen and (max-width: 1800px) {
        .block-overlay .block-content p {
          font-size: 2rem;
          line-height: 3.5rem; } }
      @media only screen and (max-width: 1199px) {
        .block-overlay .block-content p {
          font-size: 1.6rem;
          line-height: 3rem; } }
      @media only screen and (max-width: 980px) {
        .block-overlay .block-content p {
          font-size: 1.8rem; } }
    .block-overlay .block-content form label {
      display: block;
      margin-bottom: 3rem; }
    .block-overlay .block-content form .btn_form {
      margin: 0 auto; }
      @media only screen and (max-width: 1199px) {
        .block-overlay .block-content form .btn_form {
          width: 100%; } }

.connection > p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  margin-bottom: 2.3rem;
  text-align: center;
  transition: all 0.2s ease-in-out; }
  @media only screen and (max-width: 1199px) {
    .connection > p {
      margin-bottom: 1.5rem; } }
  @media only screen and (max-width: 1024px) {
    .connection > p {
      margin-bottom: 2.3rem; } }
  body.light .connection > p {
    color: #a1a1a1; }
  body.dark .connection > p {
    color: #fbfbfb; }

.connection .items {
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 1024px) {
    .connection .items {
      justify-content: space-between; } }
  .connection .items .item {
    position: relative;
    margin: 0 2.25rem;
    cursor: pointer; }
    .connection .items .item a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: pointer; }
    @media only screen and (max-width: 1800px) {
      .connection .items .item {
        margin: 0 2rem; } }
    @media only screen and (max-width: 1024px) {
      .connection .items .item {
        margin: 0; } }
    .connection .items .item p {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2rem;
      text-align: center;
      transition: all 0.2s ease-in-out; }
      body.light .connection .items .item p {
        color: #26374e; }
      body.dark .connection .items .item p {
        color: #fbfbfb; }
    .connection .items .item .overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 9rem;
      margin-bottom: 2.1rem; }
      @media only screen and (max-width: 1800px) {
        .connection .items .item .overlay {
          height: 8rem; } }
      @media only screen and (max-width: 1399px) {
        .connection .items .item .overlay {
          height: 6rem; } }
      @media only screen and (max-width: 1024px) {
        .connection .items .item .overlay {
          height: 9rem; } }
    .connection .items .item img {
      width: 9rem;
      height: 9rem; }
      @media only screen and (max-width: 1800px) {
        .connection .items .item img {
          width: 8rem;
          height: 8rem; } }
      @media only screen and (max-width: 1399px) {
        .connection .items .item img {
          height: 6rem;
          width: 6rem; } }
      @media only screen and (max-width: 1024px) {
        .connection .items .item img {
          width: 9rem;
          height: 9rem; } }
    .connection .items .item .circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 7rem;
      height: 7rem;
      border-radius: 50%; }
      @media only screen and (max-width: 1800px) {
        .connection .items .item .circle {
          width: 6rem;
          height: 6rem; } }
      @media only screen and (max-width: 1399px) {
        .connection .items .item .circle {
          height: 5.5rem;
          width: 5.5rem; } }
      @media only screen and (max-width: 1024px) {
        .connection .items .item .circle {
          width: 7rem;
          height: 7rem; } }
      .connection .items .item .circle i {
        color: #fff; }
      .connection .items .item .circle.telegram {
        background: linear-gradient(to bottom, #40a7e3, #2994d3); }
        .connection .items .item .circle.telegram i {
          font-size: 3rem;
          margin-left: -5px; }
          @media only screen and (max-width: 1800px) {
            .connection .items .item .circle.telegram i {
              font-size: 2.8rem; } }
          @media only screen and (max-width: 1024px) {
            .connection .items .item .circle.telegram i {
              font-size: 3rem; } }
      .connection .items .item .circle.email {
        background: linear-gradient(to bottom, #db3f35, #cd342a); }
        .connection .items .item .circle.email i {
          font-size: 2.4rem;
          line-height: 2.4rem; }
          @media only screen and (max-width: 1800px) {
            .connection .items .item .circle.email i {
              font-size: 2.2rem; } }
          @media only screen and (max-width: 1024px) {
            .connection .items .item .circle.email i {
              font-size: 2.4rem; } }

form label {
  display: block;
  position: relative; }
  form label label.error {
    position: absolute;
    bottom: -22px;
    margin: 0 !important;
    font-size: 13px; }

form input,
form textarea {
  height: 6rem;
  width: 100%;
  padding: 0 2rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.95);
  border: 1.5px solid transparent;
  color: #26374e;
  font-weight: 500;
  font-size: 1.4rem;
  outline: none;
  transition: all 0.2s ease-in-out; }
  @media only screen and (max-width: 1199px) {
    form input,
    form textarea {
      height: 5rem; } }
  @media only screen and (max-width: 1024px) {
    form input,
    form textarea {
      border-radius: 5px;
      background: #f8f9f9; } }
  form input:hover, form input:focus, form input:active,
  form textarea:hover,
  form textarea:focus,
  form textarea:active {
    outline: none; }
  form input.error,
  form textarea.error {
    border-color: #ee5147; }
  form input::-webkit-input-placeholder,
  form textarea::-webkit-input-placeholder {
    color: #26374e;
    font-weight: 500;
    font-size: 1.4rem; }
  form input::-moz-placeholder,
  form textarea::-moz-placeholder {
    color: #26374e;
    font-weight: 500;
    font-size: 1.4rem; }
  form input:-moz-placeholder,
  form textarea:-moz-placeholder {
    color: #26374e;
    font-weight: 500;
    font-size: 1.4rem; }
  form input:-ms-input-placeholder,
  form textarea:-ms-input-placeholder {
    color: #26374e;
    font-weight: 500;
    font-size: 1.4rem; }

.swiper-slide {
  opacity: 0 !important; }
  .swiper-slide.swiper-slide-active {
    opacity: 1 !important; }
  @media only screen and (max-width: 1024px) {
    .swiper-slide {
      opacity: 1 !important; } }

.swiper-slide .slider-number {
  position: absolute;
  top: 32.5%;
  left: 0;
  z-index: 2; }
  @media only screen and (max-width: 1024px) {
    .swiper-slide .slider-number {
      display: none; } }
  .swiper-slide .slider-number p {
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 63px;
    height: 22px;
    text-align: left;
    transition: all 0.2s ease-in-out; }
    @media only screen and (max-width: 1499px) {
      .swiper-slide .slider-number p {
        font-size: 16px;
        height: 20px; } }
    body.light .swiper-slide .slider-number p {
      color: #3c6495; }
    body.dark .swiper-slide .slider-number p {
      color: #40e0c7; }
    .swiper-slide .slider-number p:first-child {
      position: relative; }
      .swiper-slide .slider-number p:first-child:after {
        position: absolute;
        top: 75%;
        left: 25px;
        transform: translateY(-50%);
        content: '/';
        font-size: 18px;
        font-weight: 700; }
        @media only screen and (max-width: 1499px) {
          .swiper-slide .slider-number p:first-child:after {
            left: 27px; } }
    .swiper-slide .slider-number p:last-child {
      text-align: right;
      margin-top: -2px;
      padding-right: 3px; }
      body.light .swiper-slide .slider-number p:last-child {
        color: #96abca; }
      body.dark .swiper-slide .slider-number p:last-child {
        color: #54b8ae; }

.swiper-slide h3 {
  font-weight: 700;
  line-height: 5.5rem;
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out; }
  @media only screen and (max-width: 1800px) {
    .swiper-slide h3 {
      font-size: 3rem;
      line-height: 4rem; } }
  @media only screen and (max-width: 1399px) {
    .swiper-slide h3 {
      font-size: 2.7rem; } }
  @media only screen and (max-width: 1199px) {
    .swiper-slide h3 {
      font-size: 2.1rem;
      line-height: 3.5rem; } }
  .swiper-slide h3 img {
    vertical-align: middle; }
    @media only screen and (max-width: 1024px) {
      .swiper-slide h3 img {
        height: 20px;
        width: auto !important; } }
  body.light .swiper-slide h3 {
    color: #004885; }
  body.dark .swiper-slide h3 {
    color: #40e0c7; }
  .swiper-slide h3 p {
    font-weight: 600;
    transition: all 0.2s ease-in-out; }
    body.light .swiper-slide h3 p {
      color: #26374e; }
    body.dark .swiper-slide h3 p {
      color: #fff; }

.swiper-slide .main-screen-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8rem;
  margin-top: -3.5rem; }
  @media only screen and (max-width: 1199px) {
    .swiper-slide .main-screen-title {
      margin-bottom: 3.5rem; } }
  @media only screen and (max-width: 1024px) {
    .swiper-slide .main-screen-title > div {
      margin-left: 3rem; } }
  @media only screen and (max-width: 768px) {
    .swiper-slide .main-screen-title {
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 4rem;
      margin-bottom: 3.4rem; }
      .swiper-slide .main-screen-title * {
        width: 100%; } }
  @media only screen and (max-width: 1800px) {
    .swiper-slide .main-screen-title.main-screen-title2 {
      margin-top: 0;
      margin-bottom: 6rem; } }
  @media only screen and (max-width: 1399px) {
    .swiper-slide .main-screen-title.main-screen-title2 {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 1024px) {
    .swiper-slide .main-screen-title.main-screen-title2 {
      margin-top: 8.5rem; } }
  .swiper-slide .main-screen-title h2 {
    font-size: 16rem;
    font-weight: 900;
    margin: 0;
    line-height: 84%;
    margin-right: 7rem;
    letter-spacing: 0.7rem;
    text-align: left;
    transition: all 0.2s ease-in-out; }
    @media only screen and (max-width: 1800px) {
      .swiper-slide .main-screen-title h2 {
        font-size: 14rem;
        margin-right: 6rem; } }
    @media only screen and (max-width: 1399px) {
      .swiper-slide .main-screen-title h2 {
        margin-right: 5rem; } }
    @media only screen and (max-width: 1199px) {
      .swiper-slide .main-screen-title h2 {
        font-size: 9.4rem; } }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .main-screen-title h2 {
        margin-bottom: 2rem;
        margin-right: 0; } }
    body.light .swiper-slide .main-screen-title h2 {
      color: #00427f; }
    body.dark .swiper-slide .main-screen-title h2 {
      color: #40e0c7; }
  .swiper-slide .main-screen-title h1 {
    font-size: 22rem;
    letter-spacing: 1rem;
    font-weight: 900;
    margin: 0;
    line-height: 84%;
    margin-right: 4rem;
    transition: all 0.2s ease-in-out; }
    body.light .swiper-slide .main-screen-title h1 {
      color: #00427f; }
    body.dark .swiper-slide .main-screen-title h1 {
      color: #40e0c7; }
    @media only screen and (max-width: 1800px) {
      .swiper-slide .main-screen-title h1 {
        font-size: 17rem;
        margin-right: 3rem; } }
    @media only screen and (max-width: 1399px) {
      .swiper-slide .main-screen-title h1 {
        font-size: 15rem; } }
    @media only screen and (max-width: 1199px) {
      .swiper-slide .main-screen-title h1 {
        font-size: 9.4rem;
        margin-right: 2rem; } }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .main-screen-title h1 {
        text-align: left;
        margin-bottom: 3rem;
        margin-right: 0; } }
  .swiper-slide .main-screen-title .img {
    width: 17.45rem;
    height: 17.45rem;
    transition: all 0.2s ease-in-out;
    margin-left: -2rem; }
    @media only screen and (max-width: 1800px) {
      .swiper-slide .main-screen-title .img {
        width: 13.5rem;
        height: 13.5rem;
        margin-left: -3rem; } }
    @media only screen and (max-width: 1399px) {
      .swiper-slide .main-screen-title .img {
        width: 11.5rem;
        height: 11.5rem;
        margin-left: -1.5rem; } }
    @media only screen and (max-width: 1199px) {
      .swiper-slide .main-screen-title .img {
        width: 9rem;
        height: 9rem; } }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .main-screen-title .img {
        display: none; } }
    body.light .swiper-slide .main-screen-title .img {
      background: url("../img/rightLight.png") right center/cover no-repeat; }
    body.dark .swiper-slide .main-screen-title .img {
      background: url("../img/right.png") right center/cover no-repeat; }

.swiper-slide .last-slide {
  width: 100%;
  padding-bottom: 14rem; }
  @media only screen and (max-width: 1024px) {
    .swiper-slide .last-slide {
      margin: 13rem 0;
      padding: 0; } }
  .swiper-slide .last-slide h5 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 7.5rem;
    text-align: left;
    transition: all 0.2s ease-in-out; }
    @media only screen and (max-width: 1800px) {
      .swiper-slide .last-slide h5 {
        font-size: 4rem;
        line-height: 6rem; } }
    @media only screen and (max-width: 1499px) {
      .swiper-slide .last-slide h5 {
        font-size: 3.8rem;
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 1399px) {
      .swiper-slide .last-slide h5 {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .last-slide h5 {
        font-size: 2.4rem;
        line-height: 3.5rem; } }
    body.light .swiper-slide .last-slide h5 {
      color: #26374e; }
    body.dark .swiper-slide .last-slide h5 {
      color: #fdfcfc; }
    .swiper-slide .last-slide h5 span:last-child {
      font-size: 5.5rem;
      line-height: 7.5rem;
      font-weight: 900;
      text-align: left;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out; }
      @media only screen and (max-width: 1800px) {
        .swiper-slide .last-slide h5 span:last-child {
          font-size: 4.6rem;
          line-height: 6.5rem; } }
      @media only screen and (max-width: 1499px) {
        .swiper-slide .last-slide h5 span:last-child {
          font-size: 4.4rem;
          line-height: 6rem; } }
      @media only screen and (max-width: 1399px) {
        .swiper-slide .last-slide h5 span:last-child {
          font-size: 4rem; } }
      @media only screen and (max-width: 1024px) {
        .swiper-slide .last-slide h5 span:last-child {
          display: inline;
          font-size: 2.2rem;
          line-height: 3.5rem; } }
      body.light .swiper-slide .last-slide h5 span:last-child {
        color: #3c6495; }
      body.dark .swiper-slide .last-slide h5 span:last-child {
        color: #40e0c7; }

.swiper-slide .links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -5px; }
  @media only screen and (max-width: 1800px) {
    .swiper-slide .links {
      justify-content: space-between; } }
  @media only screen and (max-width: 1199px) {
    .swiper-slide .links {
      flex-wrap: wrap; } }
  .swiper-slide .links .link {
    width: 22%;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 1800px) {
      .swiper-slide .links .link {
        width: auto;
        padding-right: 25px; } }
    @media only screen and (max-width: 1199px) {
      .swiper-slide .links .link {
        width: 50%;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .links .link {
        width: 100%; } }
    .swiper-slide .links .link:nth-child(3) {
      margin-left: 3%; }
      @media only screen and (max-width: 1800px) {
        .swiper-slide .links .link:nth-child(3) {
          margin-left: 0; } }
    .swiper-slide .links .link:nth-child(4) {
      margin-left: 7%; }
      @media only screen and (max-width: 1800px) {
        .swiper-slide .links .link:nth-child(4) {
          margin-left: 0; } }
    .swiper-slide .links .link:nth-child(3), .swiper-slide .links .link:nth-child(4) {
      opacity: 0.5; }
    .swiper-slide .links .link .small-img {
      width: 20px;
      height: 23px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-right: 1.46rem; }
    .swiper-slide .links .link h6 {
      font-size: 1.8rem;
      line-height: 3rem;
      font-weight: 500;
      transition: all 0.2s ease-in-out; }
      @media only screen and (max-width: 1800px) {
        .swiper-slide .links .link h6 {
          font-size: 1.6rem; } }
      body.light .swiper-slide .links .link h6 {
        color: #26374e; }
      body.dark .swiper-slide .links .link h6 {
        color: #fbfbfb; }

.swiper-slide .text {
  margin-top: -8px;
  margin-bottom: 3.5rem;
  display: flex;
  flex-wrap: wrap; }
  .swiper-slide .text > div {
    width: 42%;
    margin-right: 1.7rem; }
    @media only screen and (max-width: 1800px) {
      .swiper-slide .text > div {
        width: 44%;
        margin-right: 3rem; } }
    @media only screen and (max-width: 1199px) {
      .swiper-slide .text > div {
        width: 45%; } }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .text > div {
        width: 100%; } }
    .swiper-slide .text > div p {
      text-align: left;
      font-weight: 400;
      font-size: 1.8rem;
      letter-spacing: 0;
      line-height: 3rem;
      margin-bottom: 3rem;
      transition: all 0.2s ease-in-out; }
      @media only screen and (max-width: 1800px) {
        .swiper-slide .text > div p {
          font-size: 1.7rem;
          line-height: 2.5rem;
          margin-bottom: 1.4rem; } }
      @media only screen and (max-width: 1399px) {
        .swiper-slide .text > div p {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 1199px) {
        .swiper-slide .text > div p {
          font-size: 1.4rem;
          line-height: 2rem; } }
      @media only screen and (max-width: 980px) {
        .swiper-slide .text > div p {
          font-size: 1.6rem;
          line-height: 2.5rem; } }
      body.light .swiper-slide .text > div p {
        color: #26374e; }
      body.dark .swiper-slide .text > div p {
        color: #fdfcfc; }

.swiper-slide .other-slide {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 17rem;
  padding-left: 16rem;
  width: 100%; }
  @media only screen and (max-width: 1800px) {
    .swiper-slide .other-slide {
      padding-left: 15rem;
      padding-bottom: 12rem; } }
  @media only screen and (max-width: 1399px) {
    .swiper-slide .other-slide {
      padding-left: 12rem; } }
  @media only screen and (max-width: 1199px) {
    .swiper-slide .other-slide {
      padding-left: 5rem; } }
  @media only screen and (max-width: 1024px) {
    .swiper-slide .other-slide {
      padding: 0;
      flex-direction: column;
      margin-top: 9.5rem; } }
  .swiper-slide .other-slide.other-slide2 {
    padding-bottom: 13rem; }
    @media only screen and (max-width: 1199px) {
      .swiper-slide .other-slide.other-slide2 {
        padding-bottom: 5rem; } }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .other-slide.other-slide2 {
        padding-bottom: 0; } }
    .swiper-slide .other-slide.other-slide2 .paragraph {
      margin-top: -5rem; }
      @media only screen and (max-width: 1024px) {
        .swiper-slide .other-slide.other-slide2 .paragraph {
          margin: 0;
          width: 100%;
          padding: 0; } }
  .swiper-slide .other-slide.other-slide4 .paragraph {
    width: 55%;
    margin-top: 0; }
    @media only screen and (max-width: 1800px) {
      .swiper-slide .other-slide.other-slide4 .paragraph {
        width: 60%; } }
    .swiper-slide .other-slide.other-slide4 .paragraph p {
      width: 84%; }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .other-slide.other-slide4 .paragraph {
        margin: 0;
        width: 100%;
        padding: 0; }
        .swiper-slide .other-slide.other-slide4 .paragraph p {
          width: 100%; } }
  .swiper-slide .other-slide.other-slide5 {
    padding-bottom: 11rem; }
    @media only screen and (max-width: 1199px) {
      .swiper-slide .other-slide.other-slide5 {
        padding-bottom: 5rem; } }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .other-slide.other-slide5 {
        padding-bottom: 0; } }
    .swiper-slide .other-slide.other-slide5 .paragraph {
      margin-top: -3rem;
      width: 55%; }
      @media only screen and (max-width: 1800px) {
        .swiper-slide .other-slide.other-slide5 .paragraph {
          width: 60%; } }
      @media only screen and (max-width: 1024px) {
        .swiper-slide .other-slide.other-slide5 .paragraph {
          margin: 0;
          width: 100%;
          padding: 0; } }
  .swiper-slide .other-slide.other-slide6 .paragraph {
    width: 55%; }
    @media only screen and (max-width: 1800px) {
      .swiper-slide .other-slide.other-slide6 .paragraph {
        width: 60%; } }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .other-slide.other-slide6 .paragraph {
        margin: 0;
        width: 100%;
        padding: 0; } }
  .swiper-slide .other-slide.other-slide7 .paragraph {
    margin-top: 0; }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .other-slide.other-slide7 .paragraph {
        margin: 0;
        width: 100%;
        padding: 0; } }
  .swiper-slide .other-slide.other-slide8 .paragraph {
    margin-top: -4rem; }
    .swiper-slide .other-slide.other-slide8 .paragraph p {
      width: 80%; }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .other-slide.other-slide8 .paragraph {
        margin: 0;
        width: 100%;
        padding: 0; }
        .swiper-slide .other-slide.other-slide8 .paragraph p {
          width: 100%; } }
  .swiper-slide .other-slide .svg {
    width: 23.5rem;
    display: flex;
    justify-content: center;
    margin-right: 9rem; }
    @media only screen and (max-width: 1800px) {
      .swiper-slide .other-slide .svg {
        width: 20rem;
        margin-right: 8rem; }
        .swiper-slide .other-slide .svg img {
          width: 96%; } }
    @media only screen and (max-width: 1399px) {
      .swiper-slide .other-slide .svg {
        margin-right: 5rem; } }
    @media only screen and (max-width: 1199px) {
      .swiper-slide .other-slide .svg {
        margin-right: 2rem; }
        .swiper-slide .other-slide .svg img {
          width: 85%; } }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .other-slide .svg {
        margin-bottom: 5rem;
        margin-right: 0; } }
  .swiper-slide .other-slide .paragraph {
    width: 51%;
    margin-top: -1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    @media only screen and (max-width: 1800px) {
      .swiper-slide .other-slide .paragraph {
        width: 60%; } }
    @media only screen and (max-width: 1024px) {
      .swiper-slide .other-slide .paragraph {
        width: 100%; } }
    .swiper-slide .other-slide .paragraph h4 {
      display: block;
      width: 100%;
      font-size: 3.8rem;
      font-weight: 700;
      line-height: 4.5rem;
      text-align: left;
      transition: all 0.2s ease-in-out;
      margin-bottom: 2.1rem; }
      @media only screen and (max-width: 1800px) {
        .swiper-slide .other-slide .paragraph h4 {
          font-size: 3.2rem;
          line-height: 4rem; } }
      @media only screen and (max-width: 1199px) {
        .swiper-slide .other-slide .paragraph h4 {
          font-size: 2.6rem;
          margin-bottom: 1.5rem; } }
      @media only screen and (max-width: 1024px) {
        .swiper-slide .other-slide .paragraph h4 {
          text-align: center;
          line-height: 4.5rem; } }
      body.light .swiper-slide .other-slide .paragraph h4 {
        color: #3c6495; }
      body.dark .swiper-slide .other-slide .paragraph h4 {
        color: #40e0c7; }
    .swiper-slide .other-slide .paragraph p {
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 400;
      text-align: left;
      transition: all 0.2s ease-in-out; }
      @media only screen and (max-width: 1800px) {
        .swiper-slide .other-slide .paragraph p {
          font-size: 1.8rem; } }
      @media only screen and (max-width: 1199px) {
        .swiper-slide .other-slide .paragraph p {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 1024px) {
        .swiper-slide .other-slide .paragraph p {
          text-align: center;
          width: 100%; } }
      body.light .swiper-slide .other-slide .paragraph p {
        color: #26374e; }
      body.dark .swiper-slide .other-slide .paragraph p {
        color: #fdfcfc; }
