$font: 'Montserrat', sans-serif;
$black: #363636;
$blue: #00458c;
$darkBlue: #26374e;
$white: #f2f2f2;
$darkWhite: #fdfcfc;

@mixin colorMixin($color) {
  color: $color;
}
@mixin backgroundMixin($background) {
  background: $background;
}
@mixin shadowMixin($shadow) {
  box-shadow: $shadow;
}
@mixin borderMixin($border) {
  border-color: $border;
}
@mixin transition {
  transition: all 0.2s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
button {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
body {
  background-color: #fff;
  color: #fff;
  margin: 0px;
  overflow: hidden;
  font-family: $font;
  &.overflow {
    overflow: hidden;
  }
  @media only screen and (max-width: 1024px) {
    overflow: auto;
  }
}

.dots {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-repeat: repeat;
}
.pop-up-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 14, 33, 0.95);
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  @include transition();
  @media only screen and (max-width: 1024px) {
    z-index: 99;
    background: transparent;
    display: block;
    top: 63px;
    min-height: calc(100vh - 63px);
  }
  &.open {
    visibility: visible;
    opacity: 1;
  }
  .pop-up {
    padding: 5.4rem 3rem 6rem;
    width: 422px;
    background: linear-gradient(to bottom, #004488, #051e40);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    position: relative;
    @media only screen and (max-width: 1024px) {
      padding: 4rem 3rem 3rem;
      width: 100%;
      border-radius: 0;
      height: 100%;
      background: linear-gradient(to top, #004581, #052145);
    }

    &:after {
      width: calc(100% + 5rem);
      height: calc(100% + 5rem);
      position: absolute;
      top: -2.5rem;
      left: -2.5rem;
      display: block;
      content: '';
      border-radius: 1rem;
      background: rgba(10, 35, 66, 0.7);
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
      z-index: -1;
      @media only screen and (max-width: 1024px) {
        display: none;
      }
    }
    .close {
      transform: rotate(45deg);
      transform-origin: 50% 50%;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      width: 23px;
      height: 23px;
      @media only screen and (max-width: 1024px) {
        display: none;
      }
      div {
        position: relative;
        width: 100%;
        height: 100%;
      }
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 60px;
      }
      p:first-child {
        width: 23px;
        height: 1px;
      }
      p:last-child {
        height: 23px;
        width: 1px;
      }
    }
  }
  form {
    h6 {
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 4rem;
      color: #f2f2f2;
      margin-bottom: 3rem;
      letter-spacing: 1px;
      text-align: center;
      @media only screen and (max-width: 1024px) {
        font-size: 2rem;
        margin-bottom: 3.6rem;
      }
    }
    textarea {
      padding-top: 2.2rem;
      height: 15rem;
      resize: none;
      //margin-bottom: 3rem;
    }
    .btn_form {
      width: 100%;
      margin: 3rem 0 0;
    }
    label {
      margin-bottom: 2.5rem;
    }
  }
}
.wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  &:after,
  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    @include transition;
    visibility: hidden;
    opacity: 0;
  }
  &:after {
    @include backgroundMixin(rgba(255, 255, 255, 0.4));
    z-index: 1;
    body.light & {
      visibility: visible;
      opacity: 1;
    }
  }
  &:before {
    @include backgroundMixin(
      url('../img/BGdark.png') center center/cover no-repeat
    );
    z-index: -1;
    body.dark & {
      visibility: visible;
      opacity: 1;
    }
  }
}
.metaball-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  @include transition;
  &.dark {
    body.dark & {
      visibility: visible;
      opacity: 1;
    }
  }
  &.light {
    body.light & {
      visibility: visible;
      opacity: 1;
    }
  }
}
html {
  font-size: 62.5%;
  @media only screen and (max-width: 1499px) {
    font-size: 54%;
  }
  @media only screen and (max-width: 1399px) {
    font-size: 52%;
  }
  @media only screen and (max-width: 1199px) {
    font-size: 62.5%;
  }
}
.container {
  width: 1717px;
  margin: 0 auto;
  padding-left: 30px;
  @media only screen and (max-width: 1800px) {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  @media only screen and (max-width: 1199px) {
    //width: 100%;
  }
  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
.page-overlay {
  height: 100vh;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media only screen and (max-width: 1024px) {
    height: auto;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  background: transparent;
  border-radius: 0.5rem;
  border: 1px solid;
  margin: 1.3rem 0;
  font-size: 1.1rem;
  text-align: center;
  @include transition();
  letter-spacing: 0.05rem;
  @media only screen and (max-width: 1024px) {
    border-radius: 5px;
  }
  body.light & {
    @include borderMixin($blue);
    @include colorMixin($blue);
    &:hover{
      background: $blue;
      @include colorMixin(#fbfbfb);
    }
  }
  body.dark & {
    @include borderMixin(#fbfbfb);
    @include colorMixin(#fbfbfb);
    &:hover{
      background: #fbfbfb;
      @include colorMixin($blue);
    }
  }
  
  @media only screen and (max-width: 1024px) {
    font-size: 1.4rem;
  }
}
.btn_form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.5rem;
  margin: 1.3rem 0;
  text-align: center;
  @include transition();
  letter-spacing: 0.05rem;
  width: 25rem;
  height: 6rem;
  border: none;
  background: linear-gradient(to bottom, #ee5147, #db3f35);
  font-size: 1.6rem;
  @media only screen and (max-width: 1199px) {
    height: 5.5rem;
  }
  body.light & {
    @include colorMixin(#fff);
    &:hover{
      background: linear-gradient(to bottom, #db3f35, #db3f35);
      color: #fff;
    }
  }
  body.dark & {
    @include colorMixin(#fff);
    &:hover{
      color: #fff;
      background: linear-gradient(to bottom, #db3f35, #db3f35);
    }
  }
}
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  z-index: 99;
  @media only screen and (max-width: 1399px) {
    padding: 2rem 0;
  }
  @media only screen and (max-width: 1199px) {
  }

  &.container {
    margin: 0;
    padding: 3rem 0;
    width: 1687px;
    @media only screen and (max-width: 1800px) {
      width: 90%;
      margin: 0 auto;
    }
    @media only screen and (max-width: 1024px) {
      height: 64px;
      width: 100vw;
      max-lines: -3rem;
      padding: 0 3rem;
      z-index: 99;
      @include transition();
      body.light & {
        @include backgroundMixin(#DADADA);
      }
      body.dark & {
        @include backgroundMixin(#021839);
      }
    }
  }
  .header-content {
    display: flex;
    align-items: center;
    margin-top: -6px;
  }
  nav {
    display: flex;
    align-items: center;
    height: 100%;

    @media only screen and (max-width: 1024px) {
      //display: none;
      position: absolute;
      top: 63px;
      width: 100vw;
      left: 0;
      right: 0;
      flex-direction: column;
      height: calc(100vh - 63px);
      padding-top: 64px;
      background: linear-gradient(to top, #004581, #052145);
      visibility: hidden;
      opacity: 0;
      @include transition();
      &.open {
        visibility: visible;
        opacity: 1;
      }
    }
    ul {
      display: flex;
      justify-content: flex-end;
      @media only screen and (max-width: 1024px) {
        flex-direction: column;
        padding: 0 30px;
        width: 100%;
      }
    }
    li {
      @media only screen and (max-width: 1024px) {
        position: relative;
        &:after {
          position: absolute;
          bottom: 0;
          width: calc(100vw - 6rem);
          left: 0;
          content: '';
          background: rgba(215, 216, 218, 0.2);
          height: 1px;
        }
      }
    }
    li a {
      padding: 0 4.8rem 0 0;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7rem;
      letter-spacing: 0.04rem;
      @include transition;
      @media only screen and (max-width: 1024px) {
        font-size: 1.8rem;
        //line-height: 7rem;
        padding: 25px 0;
        display: block;
        text-align: center;
        letter-spacing: 0.1rem;
      }
      body.light & {
        @include colorMixin($black);
        @media only screen and (max-width: 1024px) {
          @include colorMixin(#fbfbfb);
        }
      }
      body.dark & {
        @include colorMixin(#fbfbfb);
      }
    }
    .btn {
      @media only screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  z-index: 99;
  .img {
    width: 7.2rem;
    height: 7.2rem;
    @include transition;
    position: relative;
    z-index: 99;
    @media only screen and (max-width: 1024px) {
      width: 3.8rem;
      height: 3.8rem;
    }
    &:after,
    &:before {
      position: absolute;
      display: block;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
    }
    &:after {
      @include backgroundMixin(
        url('../img/logoLight.png') center center/cover no-repeat
      );
      body.light & {
        visibility: visible;
        opacity: 1;
      }
    }
    &:before {
      @include backgroundMixin(
        url('../img/logoDark.svg') center center/cover no-repeat
      );
      body.dark & {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  p {
    font-size: 36px;
    font-weight: 900;
    margin-left: 3.5rem;
    @media only screen and (max-width: 1024px) {
      font-size: 2rem;
      margin-left: 1.6rem;
    }
    body.light & {
      @include colorMixin(#004883);
    }
    body.dark & {
      @include colorMixin(#40e0c7);
    }
  }
}
.color-change {
  margin: 0 1.2rem 0 3rem;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 1024px) {
    margin-top: 5.5rem;
  }
  .trigger {
    height: 20px;
    width: 36px;
    border-radius: 10px;
    border: 1px solid;
    position: relative;
    margin: 0 1rem;
    padding: 0.2rem;
    cursor: pointer;
    @include transition;
    body.light & {
      @include borderMixin(#4b74a5);
      @media only screen and (max-width: 1024px) {
        @include borderMixin(#ccd2d9);
      }
    }
    body.dark & {
      @include borderMixin(#ccd2d9);
    }
    &:after {
      position: absolute;
      width: 14px;
      height: 14px;
      background: #40e0c7;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      @include transition;
      body.light & {
        left: calc(100% - 1.6rem);
      }
      body.dark & {
        left: 0.2rem;
      }
    }
  }
  svg path {
    @include transition;
    body.light & {
      fill: #4b74a5;
      @media only screen and (max-width: 1024px) {
       fill: #ccd2d9;
      }
    }
    body.dark & {
      fill: #ccd2d9;
    }
  }
}
.menu-burger {
  display: none;
  @media only screen and (max-width: 1024px) {
    width: 26px;
    height: 20.2px;
    display: block;
    position: relative;
    margin-left: 2rem;
    z-index: 99;
  }
  p {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
    background: #fff;
    border-radius: 60px;
    width: 26px;
    height: 1px;
    @include transition();
    body.light & {
      @include backgroundMixin(#4b74a5);
    }
    body.dark & {
      @include backgroundMixin(#fff);
    }
  }
  p:first-child {
    top: 0;
  }
  p:nth-child(2) {
    top: 9.6px;
  }
  p:last-child {
    top: 19.2px;
  }
  &.active {
    p:last-child {
      top: 9.6px;
      transform: rotate(-45deg);
    }
    p:first-child {
      top: 9.6px;
      transform: rotate(45deg);
    }
    p:nth-child(2) {
      opacity: 0;
    }
  }
}
.btn_question {
  display: none;
  @media only screen and (max-width: 1024px) {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 26px;
    font-size: 15px;
    margin-right: 5px;
    position: relative;
    z-index: 99;
    @include transition();
    body.light & {
      @include colorMixin(#4b74a5);
      @include borderMixin(#4b74a5);
    }
    body.dark & {
      @include colorMixin(#fff);
      @include borderMixin(#fff);
    }
  }
}
.lang {
  position: relative;
  width: 6rem;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  p {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  ul {
    position: absolute;
    right: 0;
    bottom: -1rem;
    transform: translateY(100%);
    display: block;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    @include transition();
    body.light & {
      @include backgroundMixin(
        linear-gradient(-135deg, #004f93, #00498b, #00437d, #003d72)
      );
    }
    body.dark & {
      @include backgroundMixin(#fdfcfc);
    }

    li {
      a {
        margin: 0;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.4rem;
        @include transition;
        body.light & {
          @include colorMixin(#fdfcfc);
        }
        body.dark & {
          @include colorMixin($blue);
        }
      }
    }
  }
  &.active {
    ul {
      visibility: visible;
      opacity: 1;
    }
    svg{
      transform: rotate(-180deg);
    }
  }

  span {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.04rem;
    @include transition;
    body.light & {
      @include colorMixin(#4b74a5);
    }
    body.dark & {
      @include colorMixin(#fbfbfb);
    }
  }
  svg {
    width: 9px;
    margin-left: 8px;
    @include transition();
  }
  svg path {
    body.light & {
      fill: #4b74a5;
    }
    body.dark & {
      fill: #fbfbfb;
    }
  }
}
.fixed-btn {
  display: none;
  @media only screen and (max-width: 1024px) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 98;
    display: flex;
    width: 100vw;
    background: linear-gradient(to right, #003d72, #004c8d);
    padding: 3.4rem 3rem;
    @include transition();
    &.open {
      box-shadow: 0 -2rem 5rem rgba(0, 0, 0, 0.2);
      z-index: 99;
    }
    .btn_form {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      font-size: 1.4rem;
    }
  }
}
.content {
  //height: calc(100vh - 13rem);
  display: flex;
  justify-content: space-between;
  padding-top: 7.5rem;
  height: 100vh;
  @media only screen and (max-width: 1499px) {
    padding-top: 5.5rem;
  }
  @media only screen and (max-width: 1399px) {
  }
  @media only screen and (max-width: 1199px) {
    padding-top: 7rem;
    height: 85%;
  }
  @media only screen and (max-width: 1024px) {
    height: auto;
    padding: 6.4rem 30px 0;
  }
  .slider-main {
    height: 78vh;
    width: calc(68.5% - 5rem);
    position: relative;
    @media only screen and (max-width: 1800px) {
      width: calc(68.5% - 3rem);
    }
    @media only screen and (max-width: 1499px) {
    }
    @media only screen and (max-width: 1399px) {
      width: 64%;
    }
    @media only screen and (max-width: 1199px) {
    }
    @media only screen and (max-width: 1024px) {
      width: 100%;
      height: auto;
    }
  }
  .sidebar {
    width: 31.5%;
    margin-right: -2.5rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (max-width: 1199px) {
      margin: 0;
    }
    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  @media only screen and (max-width: 1024px) {
    overflow: auto;
  }
}
.swiper-wrapper {
  height: 100%;
  @media only screen and (max-width: 1024px) {
    height: auto;
    transform: none;
    display: block;
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}
.swiper-pagination {
  height: 9px;
  width: calc(100% + 2.5rem);
  margin-left: -1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0.5rem;
  @media only screen and (max-width: 1024px) {
    display: none;
  }
  & > div,
  &.drob > div {
    width: calc(33.3333% / 10);
    position: relative;
    &:after {
      position: absolute;
      display: block;
      content: '';
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      width: calc(100% - 1.6rem);
      height: 1px;
      background: #ccd2d9;
      @include transition();
    }
    div {
      width: 1.6rem;
      & > span {
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #ccd2d9;
        opacity: 1;
        cursor: pointer;
        @include transition();
      }
    }
    div.named {
      opacity: 0;
      visibility: hidden;
      @include transition();
    }

    &:nth-child(1),
    &:nth-child(2) {
      width: 33.3333%;
      &:after {
        position: absolute;
        display: block;
        content: '';
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        width: calc(100% - 2.5rem);
        height: 1px;
        background: #ccd2d9;
        @include transition();
      }
      div {
        width: 2.5rem;
        & > span {
          width: 5px;
          height: 5px;
          background: #ccd2d9;
          transition: all 0.5s ease-in-out;
        }
      }
      &.swiper-pagination-bullet-active {
        div > span{
          width: 9px;
          height: 9px;
          background: #40e0c7;
        }
      }
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(12) {
      div.named {
        display: flex;
        justify-content: flex-start;
        position: absolute;
        width: 100%;
        height: auto;
        top: -4.7rem;
        left: 0.1rem;
        white-space: nowrap;
        p{
          margin-left: 5px;
          position: relative;
          &:before {
            display: block;
            content: '';
            position: absolute;
            bottom: -8px;
            left: 6px;
            height: 11px;
            width: 1px;
            background: #ccd2d9;
          }
        }
        span:nth-child(1){
          display: inline-block;
          font-weight: 700;
          font-size: 10px;
          line-height: 3rem;
          margin-right: 7px;
          transition: all 0.05s ease-in-out;
          body.light & {
            @include colorMixin(#004883);
          }
          body.dark & {
            @include colorMixin(#7ec3d7);
          }
        }
        span:nth-child(2) {
          position: relative;
          font-size: 10px;
          font-weight: 500;
          line-height: 3rem;
          
          @include transition;
          body.light & {
            @include colorMixin(#8a9cb1);
          }
          body.dark & {
            @include colorMixin(#d2e0f0);
          }
        }
        
      }
    }
    &:nth-child(1),
    &:nth-child(3).prev:not(.last),
    &.active {
      div.named {
        opacity: 1;
        visibility: visible;
      }
    }
    &:nth-child(1).prev {
      div.named {
        opacity: 0;
        visibility: hidden;
      }
    }

    &:nth-child(3) {
      width: calc(33.3333% / 8);
      &:after {
        width: calc(100% - 2.5rem);
      }
      div {
        width: 2.5rem;
        & > span {
          width: 5px;
          height: 5px;
          background: #ccd2d9;
          transition: all 0.5s ease-in-out;
          
        }
      }
      &.prev {
        &.swiper-pagination-bullet {
         div > span{
          width: 9px;
          height: 9px;
         }
        }
        &.last {
          &.swiper-pagination-bullet {
            div > span{
              width: 5px;
              height: 5px;
            }
          }
        }
      }
      &.swiper-pagination-bullet-active{
        div > span{
          width: 9px;
          height: 9px;
          background: #40e0c7;
        }
      }
    }
    &:nth-child(12) {
      width: 2.5rem;
      &:after {
        display: none;
      }
      div {
        width: 2.5rem;
        & > span {
          width: 5px;
          height: 5px;
          background: #ccd2d9;
          @include transition();
          
        }
      }
      &.swiper-pagination-bullet-active {
        div > span{
          width: 9px;
          height: 9px;
          background: #40e0c7;
        }
      }
    }
    &.prev {
      &:after {
        body.light & {
          @include backgroundMixin(#58a7bd);
        }
        body.dark & {
          @include backgroundMixin(#40e0c7);
        }
      }
      div {
        & > span {
          width: 5px;
          height: 5px;
          background: #40e0c7;
        }
      }
    }
    div {
      display: flex;
      justify-content: center;
    }
    &.swiper-pagination-bullet-active {
      div>span{
        background: #40e0c7;
      }
    }
  }
  & > div {
    width: 0;
    div > span {
      display: none;
      opacity: 0;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      width: 33.3333%;
      div > span {
        display: block;
        width: 5px;
        height: 5px;
        opacity: 1;
      }
    }
    &:nth-child(3) {
      width: calc(33.3333% - 2.5rem);
    }
    &:nth-child(12) {
      div > span {
        display: block;
        width: 5px;
        height: 5px;
        opacity: 1;
      }
    }
  }

  & > span {
    display: block;
  }
}

.block-overlay {
  padding: 2.5rem;
  border-radius: 1rem;
  $backgroundDark: rgba(18, 67, 113, 0.2);
  $backgroundLight: rgba(88, 167, 189, 0.1);
  $shadowDark: 0 5rem 5rem rgba(0, 0, 0, 0.2);
  $shadowLight: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.05);
  margin-bottom: 2.3rem;
  @include transition();
  @media only screen and (max-width: 1399px) {
    padding: 2rem;
  }
  @media only screen and (max-width: 1199px) {
    padding: 0;
  }
  body.dark & {
    @include backgroundMixin($backgroundDark);
    @include shadowMixin($shadowDark);
  }
  body.light & {
    border: 1px solid rgba(60, 100, 149, 0.1);
    @include backgroundMixin($backgroundLight);
  }
  @media only screen and (max-width: 1024px) {
    margin-bottom: 3.4rem;
    body.light & {
      background: transparent;
      border: none;
    }
    body.dark & {
      background: transparent;
      box-shadow: none;
    }
  }
  .block-content {
    padding: 6.8rem 4.3rem 5.3rem;
    $backgroundDark: linear-gradient(
      -135deg,
      #004f93,
      #00498b,
      #00437d,
      #003d72
    );
    $backgroundLight: url(../img/backForm.png) center center/cover no-repeat;
    border-radius: 1rem;
    body.light & {
      @include backgroundMixin($backgroundLight);
    }
    body.dark & {
      @include backgroundMixin($backgroundDark);
    }
    @media only screen and (max-width: 1800px) {
      padding: 4.5rem 2.5rem 3rem;
    }
    @media only screen and (max-width: 1499px) {
    }
    @media only screen and (max-width: 1399px) {
      padding: 3rem 2rem;
    }
    @media only screen and (max-width: 1199px) {
      padding: 2rem 1.5rem;
    }
    @media only screen and (max-width: 1024px) {
      padding: 3rem 0 0;
      background: transparent;
      body.light & {
        background: transparent;
      }
      body.dark & {
        background: transparent;
      }
    }

    p {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 4rem;
      text-align: center;
      &:nth-child(2) {
        margin-bottom: 2.6rem;
      }
      @include colorMixin($white);
      span {
        font-weight: 600;
        @include transition();
        body.light & {
          @include colorMixin(#fdfcfc);
        }
        body.dark & {
          @include colorMixin(#40e0c7);
        }
      }
      @media only screen and (max-width: 1800px) {
        font-size: 2rem;
        line-height: 3.5rem;
      }
      @media only screen and (max-width: 1499px) {
      }
      @media only screen and (max-width: 1399px) {
      }
      @media only screen and (max-width: 1199px) {
        font-size: 1.6rem;
        line-height: 3rem;
      }
      @media only screen and (max-width: 980px) {
        font-size: 1.8rem;
      }
    }
    form {
      label {
        display: block;
        margin-bottom: 3rem;
      }
      .btn_form {
        margin: 0 auto;
        @media only screen and (max-width: 1199px) {
          width: 100%;
        }
      }
    }
  }
}

.connection {
  & > p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin-bottom: 2.3rem;
    text-align: center;
    @include transition;
    @media only screen and (max-width: 1199px) {
      margin-bottom: 1.5rem;
    }
    @media only screen and (max-width: 1024px) {
      margin-bottom: 2.3rem;
    }
    body.light & {
      @include colorMixin(#a1a1a1);
    }
    body.dark & {
      @include colorMixin(#fbfbfb);
    }
  }
  .items {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 1024px) {
      justify-content: space-between;
    }
    .item {
      position: relative;
      margin: 0 2.25rem;
      cursor: pointer;
      a{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        cursor: pointer;
      }
      @media only screen and (max-width: 1800px) {
        margin: 0 2rem;
      }
      @media only screen and (max-width: 1024px) {
        margin: 0;
      }
      p {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2rem;
        text-align: center;
        @include transition;
        body.light & {
          @include colorMixin(#26374e);
        }
        body.dark & {
          @include colorMixin(#fbfbfb);
        }
      }
      .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 9rem;
        margin-bottom: 2.1rem;
        @media only screen and (max-width: 1800px) {
          height: 8rem;
        }
        @media only screen and (max-width: 1399px) {
          height: 6rem;
        }
        @media only screen and (max-width: 1199px) {
        }
        @media only screen and (max-width: 1024px) {
          height: 9rem;
        }
      }
      img {
        width: 9rem;
        height: 9rem;
        @media only screen and (max-width: 1800px) {
          width: 8rem;
          height: 8rem;
        }
        @media only screen and (max-width: 1399px) {
          height: 6rem;
          width: 6rem;
        }
        @media only screen and (max-width: 1199px) {
        }
        @media only screen and (max-width: 1024px) {
          width: 9rem;
          height: 9rem;
        }
      }
      .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        @media only screen and (max-width: 1800px) {
          width: 6rem;
          height: 6rem;
        }
        @media only screen and (max-width: 1399px) {
          height: 5.5rem;
          width: 5.5rem;
        }
        @media only screen and (max-width: 1199px) {
        }
        @media only screen and (max-width: 1024px) {
          width: 7rem;
          height: 7rem;
        }
        i {
          color: #fff;
        }
        &.telegram {
          background: linear-gradient(to bottom, #40a7e3, #2994d3);
          i {
            font-size: 3rem;
            margin-left: -5px;
            @media only screen and (max-width: 1800px) {
              font-size: 2.8rem;
            }
            @media only screen and (max-width: 1499px) {
            }
            @media only screen and (max-width: 1399px) {
            }
            @media only screen and (max-width: 1199px) {
            }
            @media only screen and (max-width: 1024px) {
              font-size: 3rem;
            }
          }
        }
        &.email {
          background: linear-gradient(to bottom, #db3f35, #cd342a);
          i {
            font-size: 2.4rem;
            line-height: 2.4rem;
            @media only screen and (max-width: 1800px) {
              font-size: 2.2rem;
            }
            @media only screen and (max-width: 1499px) {
            }
            @media only screen and (max-width: 1399px) {
            }
            @media only screen and (max-width: 1199px) {
            }
            @media only screen and (max-width: 1024px) {
              font-size: 2.4rem;
            }
          }
        }
      }
    }
  }
}

form {
  label {
    display: block;
    position: relative;
    label {
      &.error {
        position: absolute;
        bottom: -22px;
        margin: 0 !important;
        font-size: 13px;
        //color: #ee5147;
      }
    }
  }
  input,
  textarea {
    height: 6rem;
    width: 100%;
    padding: 0 2rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.95);
    border: 1.5px solid transparent;
    color: $darkBlue;
    font-weight: 500;
    font-size: 1.4rem;
    outline: none;
    @include transition();
    @media only screen and (max-width: 1199px) {
      height: 5rem;
    }
    @media only screen and (max-width: 1024px) {
      border-radius: 5px;
      background: #f8f9f9;
    }
    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
    &.error {
      border-color: #ee5147;
    }
    &::-webkit-input-placeholder {
      color: $darkBlue;
      font-weight: 500;
      font-size: 1.4rem;
    }
    &::-moz-placeholder {
      color: $darkBlue;
      font-weight: 500;
      font-size: 1.4rem;
    }
    &:-moz-placeholder {
      color: $darkBlue;
      font-weight: 500;
      font-size: 1.4rem;
    }
    &:-ms-input-placeholder {
      color: $darkBlue;
      font-weight: 500;
      font-size: 1.4rem;
    }
  }
}
.swiper-slide {
  opacity: 0 !important;
  &.swiper-slide-active {
    opacity: 1 !important;
  }
  @media only screen and (max-width: 1024px) {
    opacity: 1 !important;
  }
}

.swiper-slide {
  .slider-number {
    position: absolute;
    top: 32.5%;
    left: 0;
    //background: red;
    z-index: 2;
    @media only screen and (max-width: 1024px) {
      display: none;
    }
    p {
      font-size: 18px;
      font-weight: 700;
      display: block;
      width: 63px;
      height: 22px;
      text-align: left;
      @include transition;
      @media only screen and (max-width: 1499px) {
        font-size: 16px;
        height: 20px;
      }
      @media only screen and (max-width: 1399px) {
      }
      @media only screen and (max-width: 1199px) {
      }
      body.light & {
        @include colorMixin(#3c6495);
      }
      body.dark & {
        @include colorMixin(#40e0c7);
      }
      &:first-child {
        position: relative;
        &:after {
          position: absolute;
          top: 75%;
          left: 25px;
          transform: translateY(-50%);
          content: '/';
          font-size: 18px;
          font-weight: 700;
          @media only screen and (max-width: 1499px) {
            left: 27px;
          }
          @media only screen and (max-width: 1399px) {
          }
          @media only screen and (max-width: 1199px) {
          }
        }
      }
      &:last-child {
        text-align: right;
        margin-top: -2px;
        padding-right: 3px;
        body.light & {
          @include colorMixin(#96abca);
        }
        body.dark & {
          @include colorMixin(#54b8ae);
        }
      }
    }
  }
  h3 {
    font-weight: 700;
    line-height: 5.5rem;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    @media only screen and (max-width: 1800px) {
      font-size: 3rem;
      line-height: 4rem;
    }
    @media only screen and (max-width: 1499px) {
    }
    @media only screen and (max-width: 1399px) {
      font-size: 2.7rem;
    }
    @media only screen and (max-width: 1199px) {
      font-size: 2.1rem;
      line-height: 3.5rem;
    }
    img {
      vertical-align: middle;
      @media only screen and (max-width: 1024px) {
        height: 20px;
        width: auto !important;
      }
    }
    @include transition;
    body.light & {
      @include colorMixin(#004885);
    }
    body.dark & {
      @include colorMixin(#40e0c7);
    }
    p {
      font-weight: 600;
      @include transition;
      body.light & {
        @include colorMixin(#26374e);
      }
      body.dark & {
        @include colorMixin(#fff);
      }
    }
  }
  .main-screen-title {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 8rem;
    margin-top: -3.5rem;
    @media only screen and (max-width: 1199px) {
      margin-bottom: 3.5rem;
    }
    @media only screen and (max-width: 1024px) {
     & > div{
        margin-left: 3rem;
      }
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 4rem;
      margin-bottom: 3.4rem;
      * {
        width: 100%;
      }
    }
    &.main-screen-title2 {
      @media only screen and (max-width: 1800px) {
        margin-top: 0;
        margin-bottom: 6rem;
      }
      @media only screen and (max-width: 1499px) {
      }
      @media only screen and (max-width: 1399px) {
        margin-bottom: 4rem;
      }
      @media only screen and (max-width: 1199px) {
      }
      @media only screen and (max-width: 1024px) {
        margin-top: 8.5rem;
      }
    }
    h2 {
      font-size: 16rem;
      font-weight: 900;
      margin: 0;
      line-height: 84%;
      margin-right: 7rem;
      letter-spacing: 0.7rem;
      text-align: left;
      @include transition;
      @media only screen and (max-width: 1800px) {
        font-size: 14rem;
        margin-right: 6rem;
      }
      @media only screen and (max-width: 1499px) {
      }
      @media only screen and (max-width: 1399px) {
        margin-right: 5rem;
      }
      @media only screen and (max-width: 1199px) {
        font-size: 9.4rem;
      }
      @media only screen and (max-width: 1024px) {
        margin-bottom: 2rem;
        margin-right: 0;
      }
      body.light & {
        @include colorMixin(#00427f);
      }
      body.dark & {
        @include colorMixin(#40e0c7);
      }
    }
    h1 {
      font-size: 22rem;
      letter-spacing: 1rem;
      font-weight: 900;
      margin: 0;
      line-height: 84%;
      margin-right: 4rem;
      @include transition;
      body.light & {
        @include colorMixin(#00427f);
      }
      body.dark & {
        @include colorMixin(#40e0c7);
      }

      @media only screen and (max-width: 1800px) {
        font-size: 17rem;
        margin-right: 3rem;
      }
      @media only screen and (max-width: 1499px) {
      }
      @media only screen and (max-width: 1399px) {
        font-size: 15rem;
      }
      @media only screen and (max-width: 1199px) {
        font-size: 9.4rem;
        margin-right: 2rem;
      }
      @media only screen and (max-width: 1024px) {
        text-align: left;
        margin-bottom: 3rem;
        margin-right: 0;
      }
    }
    .img {
      $size: 17.45rem;
      width: $size;
      height: $size;
      @include transition;
      margin-left: -2rem;
      @media only screen and (max-width: 1800px) {
        $size: 13.5rem;
        width: $size;
        height: $size;
        margin-left: -3rem;
      }
      @media only screen and (max-width: 1499px) {
      }
      @media only screen and (max-width: 1399px) {
        width: 11.5rem;
        height: 11.5rem;
        margin-left: -1.5rem;
      }
      @media only screen and (max-width: 1199px) {
        width: 9rem;
        height: 9rem;
      }
      @media only screen and (max-width: 1024px) {
        display: none;
      }
      body.light & {
        @include backgroundMixin(
          url('../img/rightLight.png') right center/cover no-repeat
        );
      }
      body.dark & {
        @include backgroundMixin(
          url('../img/right.png') right center/cover no-repeat
        );
      }
    }
  }
  .last-slide {
    width: 100%;
    padding-bottom: 14rem;
    @media only screen and (max-width: 1024px) {
      margin: 13rem 0;
      padding: 0;
    }

    h5 {
      font-size: 4.5rem;
      font-weight: 600;
      line-height: 7.5rem;
      text-align: left;
      @include transition;
      @media only screen and (max-width: 1800px) {
        font-size: 4rem;
        line-height: 6rem;
      }
      @media only screen and (max-width: 1499px) {
        font-size: 3.8rem;
        margin-bottom: 1rem;
      }
      @media only screen and (max-width: 1399px) {
        font-size: 3.5rem;
      }
      @media only screen and (max-width: 1024px) {
        font-size: 2.4rem;
        line-height: 3.5rem;
      }

      body.light & {
        @include colorMixin(#26374e);
      }
      body.dark & {
        @include colorMixin(#fdfcfc);
      }
      span:last-child {
        font-size: 5.5rem;
        line-height: 7.5rem;
        font-weight: 900;
        text-align: left;
        text-transform: uppercase;
        @media only screen and (max-width: 1800px) {
          font-size: 4.6rem;
          line-height: 6.5rem;
        }
        @media only screen and (max-width: 1499px) {
          font-size: 4.4rem;
          line-height: 6rem;
        }
        @media only screen and (max-width: 1399px) {
          font-size: 4rem;
        }
        @media only screen and (max-width: 1199px) {
        }
        @media only screen and (max-width: 1024px) {
          display: inline;
          font-size: 2.2rem;
          line-height: 3.5rem;
        }
        @include transition;
        body.light & {
          @include colorMixin(#3c6495);
        }
        body.dark & {
          @include colorMixin(#40e0c7);
        }
      }
    }
  }
  .links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -5px;
    @media only screen and (max-width: 1800px) {
      justify-content: space-between;
    }
    @media only screen and (max-width: 1499px) {
    }
    @media only screen and (max-width: 1399px) {
    }
    @media only screen and (max-width: 1199px) {
      flex-wrap: wrap;
    }
    .link {
      width: 22%;
      display: flex;
      align-items: center;
      @media only screen and (max-width: 1800px) {
        width: auto;
        padding-right: 25px;
      }
      @media only screen and (max-width: 1499px) {
      }
      @media only screen and (max-width: 1399px) {
      }
      @media only screen and (max-width: 1199px) {
        width: 50%;
        margin-bottom: 2rem;
      }
      @media only screen and (max-width: 1024px) {
        width: 100%;
      }
      &:nth-child(3) {
        margin-left: 3%;
        @media only screen and (max-width: 1800px) {
          margin-left: 0;
        }
      }
      &:nth-child(4) {
        margin-left: 7%;
        @media only screen and (max-width: 1800px) {
          margin-left: 0;
        }
      }
      &:nth-child(3),
      &:nth-child(4) {
        opacity: 0.5;
      }
      .small-img {
        width: 20px;
        height: 23px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 1.46rem;
        @media only screen and (max-width: 1800px) {
          //margin-right: 1rem;
        }
        @media only screen and (max-width: 1499px) {
        }
        @media only screen and (max-width: 1399px) {
        }
        @media only screen and (max-width: 1199px) {
        }
      }
      h6 {
        font-size: 1.8rem;
        line-height: 3rem;
        font-weight: 500;
        @include transition;
        @media only screen and (max-width: 1800px) {
          font-size: 1.6rem;
        }
        @media only screen and (max-width: 1499px) {
        }
        @media only screen and (max-width: 1399px) {
        }
        @media only screen and (max-width: 1199px) {
        }
        body.light & {
          @include colorMixin(#26374e);
        }
        body.dark & {
          @include colorMixin(#fbfbfb);
        }
      }
    }
  }
  .text {
    margin-top: -8px;
    margin-bottom: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    & > div {
      width: 42%;
      margin-right: 1.7rem;
      @media only screen and (max-width: 1800px) {
        width: 44%;
        margin-right: 3rem;
      }
      @media only screen and (max-width: 1499px) {
      }
      @media only screen and (max-width: 1399px) {
      }
      @media only screen and (max-width: 1199px) {
        width: 45%;
      }
      @media only screen and (max-width: 1024px) {
        width: 100%;
      }
      p {
        text-align: left;
        font-weight: 400;
        font-size: 1.8rem;
        letter-spacing: 0;
        line-height: 3rem;
        margin-bottom: 3rem;
        @include transition;
        @media only screen and (max-width: 1800px) {
          font-size: 1.7rem;
          line-height: 2.5rem;
          margin-bottom: 1.4rem;
        }
        @media only screen and (max-width: 1499px) {
        }
        @media only screen and (max-width: 1399px) {
          font-size: 1.6rem;
        }
        @media only screen and (max-width: 1199px) {
          font-size: 1.4rem;
          line-height: 2rem;
        }
        @media only screen and (max-width: 980px) {
          font-size: 1.6rem;
          line-height: 2.5rem;
        }
        body.light & {
          @include colorMixin(#26374e);
        }
        body.dark & {
          @include colorMixin(#fdfcfc);
        }
      }
    }
  }
  .other-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 17rem;
    padding-left: 16rem;
    width: 100%;
    @media only screen and (max-width: 1800px) {
      padding-left: 15rem;
      padding-bottom: 12rem;
    }
    @media only screen and (max-width: 1499px) {
    }
    @media only screen and (max-width: 1399px) {
      padding-left: 12rem;
    }
    @media only screen and (max-width: 1199px) {
      padding-left: 5rem;
    }
    @media only screen and (max-width: 1024px) {
      padding: 0;
      flex-direction: column;
      margin-top: 9.5rem;
    }
    &.other-slide2 {
      padding-bottom: 13rem;
      @media only screen and (max-width: 1199px) {
        padding-bottom: 5rem;
      }
      @media only screen and (max-width: 1024px) {
        padding-bottom: 0;
      }
      .paragraph {
        margin-top: -5rem;
        @media only screen and (max-width: 1024px) {
          margin: 0;
          width: 100%;
          padding: 0;
        }
      }
    }
    &.other-slide4 {
      .paragraph {
        width: 55%;
        margin-top: 0;
        @media only screen and (max-width: 1800px) {
          width: 60%;
        }
        p {
          width: 84%;
        }
        @media only screen and (max-width: 1024px) {
          margin: 0;
          width: 100%;
          padding: 0;
          p {
            width: 100%;
          }
        }
      }
    }
    &.other-slide5 {
      padding-bottom: 11rem;
      @media only screen and (max-width: 1199px) {
        padding-bottom: 5rem;
      }
      @media only screen and (max-width: 1024px) {
        padding-bottom: 0;
      }
      .paragraph {
        margin-top: -3rem;
        width: 55%;
        @media only screen and (max-width: 1800px) {
          width: 60%;
        }
        @media only screen and (max-width: 1024px) {
          margin: 0;
          width: 100%;
          padding: 0;
        }
      }
    }
    &.other-slide6 {
      .paragraph {
        width: 55%;
        @media only screen and (max-width: 1800px) {
          width: 60%;
        }
        @media only screen and (max-width: 1024px) {
          margin: 0;
          width: 100%;
          padding: 0;
        }
      }
    }
    &.other-slide7 {
      .paragraph {
        margin-top: 0;
        @media only screen and (max-width: 1024px) {
          margin: 0;
          width: 100%;
          padding: 0;
        }
      }
    }
    &.other-slide8 {
      .paragraph {
        margin-top: -4rem;
        p {
          width: 80%;
        }
        @media only screen and (max-width: 1024px) {
          margin: 0;
          width: 100%;
          padding: 0;
          p {
            width: 100%;
          }
        }
      }
    }
    .svg {
      width: 23.5rem;
      display: flex;
      justify-content: center;
      margin-right: 9rem;
      @media only screen and (max-width: 1800px) {
        width: 20rem;
        margin-right: 8rem;
        img {
          width: 96%;
        }
      }
      @media only screen and (max-width: 1499px) {
      }
      @media only screen and (max-width: 1399px) {
        margin-right: 5rem;
      }
      @media only screen and (max-width: 1199px) {
        margin-right: 2rem;
        img {
          width: 85%;
        }
      }
      @media only screen and (max-width: 1024px) {
        margin-bottom: 5rem;
        margin-right: 0;
      }
    }
    .paragraph {
      width: 51%;
      margin-top: -1.6rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      @media only screen and (max-width: 1800px) {
        width: 60%;
      }
      @media only screen and (max-width: 1499px) {
      }
      @media only screen and (max-width: 1399px) {
      }
      @media only screen and (max-width: 1199px) {
      }
      @media only screen and (max-width: 1024px) {
        width: 100%;
      }
      h4 {
        display: block;
        width: 100%;
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 4.5rem;
        text-align: left;
        @include transition;
        margin-bottom: 2.1rem;
        @media only screen and (max-width: 1800px) {
          font-size: 3.2rem;
          line-height: 4rem;
        }
        @media only screen and (max-width: 1499px) {
        }
        @media only screen and (max-width: 1399px) {
        }
        @media only screen and (max-width: 1199px) {
          font-size: 2.6rem;
          margin-bottom: 1.5rem;
        }
        @media only screen and (max-width: 1024px) {
          text-align: center;
          line-height: 4.5rem;
        }
        body.light & {
          @include colorMixin(#3c6495);
        }
        body.dark & {
          @include colorMixin(#40e0c7);
        }
      }
      p {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 400;
        text-align: left;
        @include transition;
        @media only screen and (max-width: 1800px) {
          font-size: 1.8rem;
        }
        @media only screen and (max-width: 1499px) {
        }
        @media only screen and (max-width: 1399px) {
        }
        @media only screen and (max-width: 1199px) {
          font-size: 1.6rem;
        }
        @media only screen and (max-width: 1024px) {
          text-align: center;
          width: 100%;
        }
        body.light & {
          @include colorMixin(#26374e);
        }
        body.dark & {
          @include colorMixin(#fdfcfc);
        }
      }
    }
  }
}
